on post-fs-data
    chmod 0666 /mnt/vendor/persist/data/ec2_aging_data.txt
service vendor.misc-aidl-1  /odm/bin/hw/vendor-oplus-hardware-misc-V1-service
    class hal
    capabilities SYS_PTRACE
    user system
    group system readproc
    interface aidl vendor.oplus.hardware.misc.IOplusMisc/default
