service opluscvtmanager /system_ext/bin/opluscvtmanager
    capabilities CHOWN SYS_ADMIN NET_ADMIN SETGID SETUID
    user root
    group root system readproc
    socket opluscvtmanager seqpacket+passcred 0660 system system u:object_r:opluscvt_socket:s0
    oneshot

on post-fs-data
    mkdir /data/opluscvtmanager 0770 root system encryption=Require
    mkdir /data/opluscvtmanager/.build-id 0770 root system encryption=Require

on property:sys.oplus.cvt.manager=1
    setprop sys.oplus.cvt.manager 0

on property:persist.sys.oplus.cvt.manager=0 && property:sys.oplus.cvt.manager=1
    setprop sys.oplus.cvt.manager 0
    setprop sys.oplus.cvt.enable 0
    stop opluscvtmanager
    stop opluscvtunwind
    stop opluscvttraced

service opluscvtunwind /system_ext/bin/opluscvtunwind
    capabilities SYS_PTRACE
    user system
    group system readproc
    socket opluscvtunwind seqpacket+passcred 0660 root system
    oneshot

on property:sys.boot_completed=1 && property:sys.oplus.cvt.unwind=1
    start opluscvtunwind

on property:persist.sys.oplus.cvt.unwind=1
    setprop sys.oplus.cvt.unwind 1

service opluscvttraced /system_ext/bin/opluscvttraced
    user system
    group root system
    socket opluscvttraced seqpacket+passcred 0660 root system
    oneshot

on property:sys.boot_completed=1 && property:sys.oplus.cvt.traced=1
    start opluscvttraced

on property:persist.sys.oplus.cvt.traced=1
    setprop sys.oplus.cvt.traced 1

