
service oplus_system_debug_get /system_ext/bin/oplus_system_debug.sh "system_debug_get"
	user root
	group root system log
	disabled
	oneshot

service oplus_system_debug_clear /system_ext/bin/oplus_system_debug.sh "system_debug_clear"
	user root
	group root system log
	disabled
	oneshot

service oplus_page_owner_get /system_ext/bin/oplus_system_debug.sh "page_owner_get"
	user root
	group root system log
	disabled
	oneshot

service oplus_page_owner_enable /system_ext/bin/oplus_system_debug.sh "page_owner_enable"
	user root
	group root system log
	disabled
	oneshot

service oplus_page_owner_disable /system_ext/bin/oplus_system_debug.sh "page_owner_disable"
	user root
	group root system log
	disabled
	oneshot

service oplus_fulldump_get /system_ext/bin/oplus_system_debug.sh "fulldump_get"
	user root
	group root system log
	disabled
	oneshot

service oplus_fulldump_enable /system_ext/bin/oplus_system_debug.sh "fulldump_enable"
	user root
	group root system log
	disabled
	oneshot

service oplus_fulldump_disable /system_ext/bin/oplus_system_debug.sh "fulldump_disable"
	user root
	group root system log
	disabled
	oneshot

service oplus_binder_async_ux_enable /system_ext/bin/oplus_system_debug.sh "binder_async_ux_enable"
	user root
	group root system log
	disabled
	oneshot

service oplus_binder_async_ux_disable /system_ext/bin/oplus_system_debug.sh "binder_async_ux_disable"
	user root
	group root system log
	disabled
	oneshot

#init mount debufs selinux denied
#on property:persist.sys.oplus_mount_debugfs=1
#	setprop ro.product.debugfs_restrictions.enabled false
#	mount debugfs debugfs /sys/kernel/debug
#	chmod 0755 /sys/kernel/debug
#	setprop persist.dbg.keep_debugfs_mounted true

#on property:persist.sys.oplus_mount_debugfs=0
#	setprop persist.dbg.keep_debugfs_mounted false
#	umount /sys/kernel/debug

#on property:persist.sys.oplus_mount_debugfs=1
#    exec u:object_r:oplus_system_debug_exec:s0 -- /system/bin/sh /system_ext/bin/oplus_system_debug.sh "mount_debugfs"

on property:sys.boot_completed=1 && property:persist.sys.oplus_system_debug_data=system_debug_get
    start oplus_system_debug_get

on property:sys.boot_completed=1 && property:persist.sys.oplus_system_debug_data=system_debug_clear
    start oplus_system_debug_clear

on property:sys.boot_completed=1 && property:persist.sys.oplus_system_debug_data=page_owner_get
    start oplus_page_owner_get

on property:sys.boot_completed=1 && property:persist.sys.oplus_system_debug_data=page_owner_enable
    start oplus_page_owner_enable

on property:sys.boot_completed=1 && property:persist.sys.oplus_system_debug_data=page_owner_disable
    start oplus_page_owner_disable

on property:sys.boot_completed=1 && property:persist.sys.oplus_system_debug_data=fulldump_get
    start oplus_fulldump_get

on property:sys.boot_completed=1 && property:persist.sys.oplus_system_debug_data=fulldump_enable
    start oplus_fulldump_enable

on property:sys.boot_completed=1 && property:persist.sys.oplus_system_debug_data=fulldump_disable
    start oplus_fulldump_disable

on property:sys.boot_completed=1 && property:sys.binder.oplus_system_debug_data=binder_async_ux_enable
    start oplus_binder_async_ux_enable

on property:sys.boot_completed=1 && property:sys.binder.oplus_system_debug_data=binder_async_ux_disable
    start oplus_binder_async_ux_disable
