service ostatsd /system_ext/bin/ostatsd
    user system
    group system readproc root media_rw
    capabilities SYS_NICE
    disabled

on property:sys.boot_completed=1 && property:persist.sys.ostatsd.enable=0
    stop ostatsd

on property:sys.boot_completed=1 && property:persist.sys.ostatsd.enable=1
    start ostatsd

on post-fs-data
    # Create directory for ostatsd.
    mkdir /data/misc/ostats  0770 root system
    mkdir /data/misc/ostats/database 0770 root system
