on late-fs && property:ro.vendor.oplus.tango_allow32=true
    mount binfmt_misc none /proc/sys/fs/binfmt_misc
    write /proc/sys/fs/binfmt_misc/register ":tango_translator:M::\x7fELF\x01\x01\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\x00\x28\x00:\xff\xff\xff\xff\xff\xff\xff\x00\x00\x00\x00\x00\x00\x00\x00\x00\xfe\xff\xff\xff:/system_ext/bin/tango_translator:POCF"

on boot && property:ro.vendor.oplus.tango_allow32=true
    write /proc/sys/fs/binfmt_misc/tango_translator 1

on boot && property:ro.vendor.oplus.tango_allow32=false
    write /proc/sys/fs/binfmt_misc/tango_translator 0

# enable tango will set ro.zygote=zygote64 then init.zygote64_32.rc won't be included.
#service zygote_secondary will lost definition, so we add here for thoese project who has no zygote_secondary
#definition. for project ro.zygote=zygote64_32 will override origin definition
service zygote_secondary /system/bin/app_process32 -Xzygote /system/bin --zygote --socket-name=zygote_secondary --enable-lazy-preload
    override
    class main
    priority -20
    user root
    group root readproc reserved_disk
    socket zygote_secondary stream 660 root system
    socket usap_pool_secondary stream 660 root system
    onrestart restart zygote
    task_profiles ProcessCapacityHigh MaxPerformance
#ifdef OPLUS_FEATURE_QUICKBOOT
#Jianhua.Sun@ANDROID.BOOT.QUICKBOOT.1129994, 2016/06/06, Modify for quickboot
    disabled
#endif /* OPLUS_FEATURE_QUICKBOOT */
