service media /system/bin/mediaserverwrapper
    class main
    user media
#ifdef OPLUS_FEATURE_MM_BOOST
#li.bao@PSW.MM.MediaServer.Player.5672928, 2023/05/10
#add readproc for reading C2HW process tid info
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm readproc
    capabilities SYS_NICE
#endif /* OPLUS_FEATURE_MM_BOOST */
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
#ifdef OPLUS_BUG_STABILITY
#lichao5@PSW.MM.MediaServer.PLAYER.5381096,2023/04/06
#Modify for binder thread blocking
    onrestart restart mediaextractor
#endif OPLUS_BUG_STABILITY
#ifdef OPLUS_BUG_STABILITY
#lichao5@PSW.MM.MediaServer.PLAYER.6002005,2023/08/02
#Restart C2 when mediaserver restarts
    onrestart restart vendor-qti-media-c2-hal-1-0
    onrestart restart media.swcodec
#endif OPLUS_BUG_STABILITY
